body{
    margin: 0;
    padding: 0;
}
h1{
    font-size: 60px;
    font-family: NanumGothic, sans-serif;
    color: #636bad;
    width: 400px;
    margin: 0 auto;
}
body{

    font-size: 22px;
}
li{
    list-style: none;
}
header{
    width: 100%;
    height: 200px;
    background-color: antiquewhite;
    position: relative;
}
.head__form{
    height: 80px;
    width: 500px;
    padding-top: 30px;
    margin: 0 auto;
    background: #15152a;
    border: 3px solid #5189ad;
    border-radius: 7px;
}
.form__input-text{
    height: 35px;
    width: 350px;
    margin-left: 20px;
    border-radius: 4px;
    outline: none;
    border: 2px solid beige;
    background: #3370ad;
    padding-left: 7px;
    color: snow;
}
.form__input-text:focus{
    border: 3px solid #f0f0f0;
}
.form__input-text::placeholder{
    color: snow;
}
#submit_event{
    border: 2px solid beige;
    border-radius: 5px;
    height: 30px;
    width: 70px;
    outline: none;
}
#submit_event:active{
    outline: none;
}
.main__content{
    height: 300px;
    background-color: #f0f0f0;
}
.results{
    width: 100%;
    height: 150px;
    background-color: aquamarine;
}
.amount{
    vertical-align: middle;
    cursor: pointer;
}
.result{
    cursor: pointer;
}
.counter{
    width: 25px;
    height: 25px;
}
.check{
    width: 25px;
    height: 25px;
}
.todo_text{
    cursor: pointer;
}
.completed{
    text-decoration: line-through;
}
.edit_text{
    width: 250px;
    vertical-align: super;
}
.text_edited{
    vertical-align: super;
}
.page-number{
    display: inline-block;
    cursor: pointer;
    margin-left: 15px;
}
.active{
    color: blueviolet;
}
.delete{
    margin-top: 4px;
    float: right;
}
.todo_task{
    width: 400px;
}
.current-tasks{
    border: solid 1px darkred;
}